.App {
  font-family: 'Arial', sans-serif;
  padding: 40px;
  max-width: 90%;
  margin: 50px auto;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bottom-left-button {
  position: fixed; /* Makes the button's position relative to the browser window */
  bottom: 10px;    /* 10 pixels from the bottom of the window */
  left: 10px;      /* 10 pixels from the left of the window */
  z-index: 1000;   /* Ensures the button stays on top of other elements */
}

button {
  cursor: pointer;
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #ddd;
}

input {
  width:fit-content;
  padding: 7px;
}

.container80 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 75% !important;
}

.container80 .MuiGrid-container {
  border-top: 1px solid rgba(0, 0, 0, 0.12);  /* light border line */
  padding: 8px 0;  /* some vertical padding for spacing */
  margin-bottom: 1px;
  vertical-align: top;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* .edit-icons {
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 10px;
} */

/* .delete-icons {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  margin: 10px;
} */

.MuiTypography-root.entityName {
  font-size: 16px;
}

.MuiTypography-root.entityType {
  font-size: 12px;
  color: #999;
}

.MuiTypography-root.propertyName {
  font-size: 16px;
  margin: 8px 0;
}

.MuiTypography-root.propertyDescription {
  font-size: 12px;
}



.customLine {
  height: 1px;
  width: 100%;
}


.entityInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* .edit-icons, .delete-icons {
  cursor: pointer;
  margin: 8px;
} */

.edit-icons, .delete-icons {
  
  font-size: 16px;
  cursor: pointer;
  margin: 8px;
}

#description {
  width: 100%; 
  min-height: 100px;
  resize: vertical; 
}
